<!-- Header -->
<div>
    <mat-toolbar>
        <span>Colony Counter</span>
        <span class="header-spacer"></span>
        <button mat-icon-tune class="icon-button">
            <mat-icon>tune</mat-icon>
        </button>
    </mat-toolbar>
</div>

<!-- Sidebar -->

<div class="container" style="margin-left: 0">

    <div class="row justify-content-md-center">
        <div class="col-3 sidebar">
            <div class="mx-auto row counter-window">
                <div class="col-8 counter-stats">
                    <p>Gedetecteerd: 42</p>
                    <p>Eigen telling: 10</p>
                </div>
                <div class="col-4 current-count">
                    <p>Totaal:</p>
                    <p class="current-count-number">58</p>
                </div>
            </div>
          </div>
          <div class="col-9">
            Counter component
          </div>
    </div>

</div>