<!-- Header -->
<div>
    <mat-toolbar>
        <span>Colony Counter</span>
        <span class="header-spacer"></span>
        <!-- <button mat-icon-tune class="icon-button" (click)="openSettingsModal()">
            <mat-icon>tune</mat-icon>
        </button> -->
        <button *ngIf="!isWorking" type="button" class="btn btn-light save-button" (click)="getPlateau()" style="padding-right: 10px">Opstarten</button>
        <button *ngIf="!isWorking" type="button" class="btn btn-warning save-button" (click)="shutdown()" style="padding-right: 10px">Afsluiten</button>
        <button *ngIf="!isWorking" type="button" class="btn btn-success save-button" (click)="startCycle()">Begin</button>

        <button *ngIf="isWorking" type="button" class="btn btn-danger save-button" (click)="stopCyclePrematurely()">Stop</button>
    </mat-toolbar>
</div>

<div class="container-fluid" style="margin-left: 0;">

    <div class="row justify-content-md-center">

        <div class="col-3 sidebar container">

            <div class="row mx-auto row counter-window">
                <div class="col-8 counter-stats">
                    <p>Gedetecteerd: {{calculatedCount}}</p>
                    <p>Eigen telling: {{countList.length}}</p>
                </div>
                <div class="col-4 current-count">
                    <p>Totaal:</p>
                    <p class="current-count-number">{{countResultModel?.count}}</p>
                </div>
            </div>

            <div class="row mx-auto align-items-end action-buttons">
                <div class="col-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-success save-button" [disabled]="disableCountButtons" (click)="endCycleAndSaveImage()">Opslaan</button>
                    <button id="undoButton" type="button" class="btn btn-warning undo-button" [disabled]="disableCountButtons" (click)="undoLastCount()">
                        <mat-icon class="refresh-icon">refresh</mat-icon>
                    </button>
                </div>
            </div>

        </div>


        <div class="col-9 counter-container">

            <div>
                <canvas
                  id="canvas"
                  width="1450"
                  height="865"
                  style="padding: 0"
                ></canvas>
              </div>
        </div>
    </div>

    <!-- <settings-modal #modal> -->
        <!--  body of the modal  -->
    <!-- </settings-modal> -->

</div>